USE [master]
GO
/****** Object:  Database [CarsCatalogDB]    Script Date: 30.06.2026 14:41:37 ******/
CREATE DATABASE [CarsCatalogDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarsCatalogDB', FILENAME = N'C:\Users\alext\CarsCatalogDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarsCatalogDB_log', FILENAME = N'C:\Users\alext\CarsCatalogDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarsCatalogDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarsCatalogDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30.06.2026 14:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BodyTypes]    Script Date: 30.06.2026 14:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BodyTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BodyTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 30.06.2026 14:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[ModelName] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[BodyTypeId] [int] NOT NULL,
	[InStock] [bit] NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260628192058_CarsDB', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260628193353_UpdateCarsWithRealPhotos', N'8.0.28')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260628193517_UpdateCarsWithRealPhotos1', N'8.0.28')
GO
SET IDENTITY_INSERT [dbo].[BodyTypes] ON 

INSERT [dbo].[BodyTypes] ([Id], [Name]) VALUES (1, N'Седан')
INSERT [dbo].[BodyTypes] ([Id], [Name]) VALUES (2, N'Универсал')
INSERT [dbo].[BodyTypes] ([Id], [Name]) VALUES (3, N'Внедорожник')
SET IDENTITY_INSERT [dbo].[BodyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([Id], [ImageUrl], [ModelName], [Year], [Description], [BodyTypeId], [InStock]) VALUES (1, N'https://static.abw.by/catalog/1650/08796f15-1a34-4b77-a420-0e7b4811a1c0.jpg', N'BMW X5', 2024, N'3.0 л, 340 л.с., полный привод, 8-ступенчатый автомат, роскошный внедорожник', 3, 0)
INSERT [dbo].[Cars] ([Id], [ImageUrl], [ModelName], [Year], [Description], [BodyTypeId], [InStock]) VALUES (2, N'https://avatars.mds.yandex.net/i?id=394d81bf666b856efcb404032e40727f229df73c-5886736-images-thumbs&n=13', N'Toyota Camry', 2023, N'2.5 л, 203 л.с., автоматическая КПП, передний привод, комфортный седан', 1, 1)
INSERT [dbo].[Cars] ([Id], [ImageUrl], [ModelName], [Year], [Description], [BodyTypeId], [InStock]) VALUES (3, N'https://avatars.mds.yandex.net/i?id=573ba0183532046ef8be8b879870dd37_l-10247222-images-thumbs&n=13', N'Porsche 911', 2022, N'3.0 л, 385 л.с., задний привод, PDK, спортивное купе', 4, 1)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
/****** Object:  Index [IX_Cars_BodyTypeId]    Script Date: 30.06.2026 14:41:37 ******/
CREATE NONCLUSTERED INDEX [IX_Cars_BodyTypeId] ON [dbo].[Cars]
(
	[BodyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_BodyTypes_BodyTypeId] FOREIGN KEY([BodyTypeId])
REFERENCES [dbo].[BodyTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_BodyTypes_BodyTypeId]
GO
USE [master]
GO
